* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease 0s;
}

.text-main-content {
	line-height: 30px;
	font-size: 1.2rem;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

.gjs-text-blue {
	color: rgb(36, 99, 235);
}

.gjs-link:hover {
	color: rgb(36, 99, 235);
	text-decoration: underline;
}

#io4bfg {
	color: black;
	width: 232px;
	height: 44px;
	margin-top: 2px;
	margin-left: 10px;
}

#i8xhsh {
	flex: 0 1 auto;
}

#ibv55j {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#imopk1 {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#iiq601 {
	flex: 0 1 auto;
}

#ikcxo9 {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#iegi5z {
	flex: 0 1 auto;
}

#izoon6 {
	padding-top: 0px;
	padding-bottom: 0px;
}

#itkt7l {
	flex: 0 1 auto;
	padding-left: 0px;
}

#iz6g6e {
	flex: 0 1 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

#if5h7h {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#iu6ggj {
	width: 100%;
	max-width: 1200px;
}

#i7bn9h {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i5m3ah {
	text-decoration: line-through;
}

#ixe63j {
	font-size: 3rem;
	text-align: center;
}

#ixe3gp {
	font-size: 1.2rem;
	margin-bottom: 15px;
}

#inwj8c {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#is1qsl {
	padding: 10px;
	margin-bottom: 25px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#ibbzhc {
	height: 453px;
	width: 824px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#ii867f {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#ir4aq7 {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

#i2we3k {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#inyagk {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 29px;
	padding-left: 20px;
	padding-right: 20px;
}

#ijum39 {
	font-size: 2.5rem;
	text-align: center;
}

#i1lxwg {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 35px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	margin-top: 35px;
	padding-top: 0px;
	padding-bottom: 10px;
	line-height: 23px;
}

#i4vmxf {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
	background-image: radial-gradient(515px at 50% 141%, rgba(35, 98, 235, 0.22) 10%, white 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#i9q4dl {
	justify-content: center;
	padding-top: 26px;
	padding-bottom: 36px;
	padding-left: 20px;
	padding-right: 20px;
}

#iu6ep7 {
	color: black;
	max-width: 389px;
}

#i0rsha {
	align-self: center;
}

#i80sao {
	display: block;
}

#igibb2 {
	display: block;
}

#iyj9ee {
	display: block;
}

#icettx {
	display: block;
}

#ikubk8 {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#i5dvyv {
	flex-direction: column;
}

#is60oo {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#i9cmzj {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#it6ets {
	justify-content: center;
	padding-top: 31px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#ikqid9 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(227, 240, 255, 1) 5.699481865284974%, white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	#izoon6 {
		flex-direction: row;
	}

	#if5h7h {
		flex-direction: row;
	}
}

@media (max-width:768px) {
	#itkt7l {
		display: none;
	}

	#ibbzhc {
		width: 494px;
		height: 355px;
	}

	#ii867f {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}

	#iu6ep7 {
		max-width: 66%;
		position: relative;
		left: 15%;
	}
}

@media (max-width:480px) {
	#ixe3gp {
		margin-left: 80px;
		margin-bottom: 1px;
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		position: relative;
		left: -60px;
	}

	#inwj8c {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#is1qsl {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#ibbzhc {
		width: 278px;
		height: 228px;
	}

	#ii867f {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}
}