* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease 0s;
}

.text-main-content {
	line-height: 30px;
	font-size: 1.2rem;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

.gjs-text-blue {
	color: rgb(36, 99, 235);
}

.gjs-link:hover {
	color: rgb(36, 99, 235);
	text-decoration: underline;
}

#ile4iw {
	color: black;
	width: 232px;
	height: 44px;
	margin-top: 2px;
	margin-left: 10px;
}

#idf1d4 {
	flex: 0 1 auto;
}

#izz97g {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#i5117a {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#icbo1d {
	flex: 0 1 auto;
}

#ithjjj {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#ifed1d {
	flex: 0 1 auto;
}

#i1ajkv {
	padding-top: 0px;
	padding-bottom: 0px;
}

#i846gk {
	flex: 0 1 auto;
	padding-left: 0px;
}

#iwvk2h {
	flex: 0 1 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

#ik0j6y {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#ice7xl {
	width: 100%;
	max-width: 1200px;
}

#ick78e {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#ipzaqd {
	font-size: 3rem;
	text-align: center;
}

#iq9hqr {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#ih08mi {
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#i2zqv1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#ivkh1x {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

#iijudf {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#irsm0f {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 29px;
	padding-left: 20px;
	padding-right: 20px;
}

#iol2os {
	font-size: 2.5rem;
	text-align: center;
}

#i87i14 {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 35px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	margin-top: 35px;
	padding-top: 0px;
	padding-bottom: 10px;
	line-height: 23px;
}

#iwbyi1 {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
	background-image: radial-gradient(515px at 50% 141%, rgba(35, 98, 235, 0.22) 10%, white 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#i2ui34 {
	justify-content: center;
	padding-top: 26px;
	padding-bottom: 36px;
	padding-left: 20px;
	padding-right: 20px;
}

#iu2ea5 {
	color: black;
	max-width: 389px;
}

#ifgm7p {
	align-self: center;
}

#iwc8zu {
	display: block;
}

#in9xvb {
	display: block;
}

#iz7c9h {
	display: block;
}

#icfqeg {
	display: block;
}

#ij87xi {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#iv43bz {
	flex-direction: column;
}

#it9bta {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#iqtgd6 {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#ix08ki {
	justify-content: center;
	padding-top: 31px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#i5xrfz {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(227, 240, 255, 1) 5.699481865284974%, white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#in2slj {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#iuw73p {
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#it0va3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#i8gb5g {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

#iyf4nd {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#iswign {
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#ibsbq3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#icz86a {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

#i17ty3 {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#iume2x {
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#ijzdji {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#iapmp5 {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

#ic6zsu {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#ir1lxe {
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#idvgk6 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#ic3wv7 {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

#ils90h {
	font-size: 2.5rem;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 37px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#i7l57a {
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
}

#ikswfs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 1%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 52px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#i92qmx {
	position: static;
	left: 13%;
	display: flex;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	justify-content: flex-start;
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	#i1ajkv {
		flex-direction: row;
	}

	#ik0j6y {
		flex-direction: row;
	}
}

@media (max-width:768px) {
	#i846gk {
		display: none;
	}

	#i2zqv1 {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}

	#iu2ea5 {
		max-width: 66%;
		position: relative;
		left: 15%;
	}

	#it0va3 {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}

	#ibsbq3 {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}

	#ijzdji {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}

	#idvgk6 {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}

	#ikswfs {
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 19px;
	}
}

@media (max-width:480px) {
	#iq9hqr {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#ih08mi {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#i2zqv1 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}

	#in2slj {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#iuw73p {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#it0va3 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}

	#iyf4nd {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#iswign {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#ibsbq3 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}

	#i17ty3 {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#iume2x {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#ijzdji {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}

	#ic6zsu {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#ir1lxe {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#idvgk6 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}

	#ils90h {
		max-width: 289px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 9px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		position: relative;
		left: 8px;
		font-size: 2rem;
		line-height: 33px;
	}

	#i7l57a {
		font-size: 1rem;
		line-height: 19px;
		padding-top: 10px;
		padding-right: 22px;
		padding-bottom: 10px;
		padding-left: 18px;
		position: relative;
	}

	#ikswfs {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 5px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		max-width: 290px;
	}
}